.box{
    width:250px;
    height:300px;
    border: 1px solid black;
    margin:40px auto;

    /* x y blur(flou) spread(etendu) couleur  */
    box-shadow: 30px 30px 20px 5px rgba(0,0,0,0.5);

}

h2{
    text-align: center;

    text-shadow: 0 0 10px rgba(0,0,0,0.9);
}