
*, ::before, ::after {
margin: 0;
padding: 0;
}
/* unité de mesure absolue = px */
/*  unité relative = %, vh, vw */
.box{
background-color: salmon;
/* width: auto; */
height:50px;

/* max-width, min-width */

/* max-width: 800px; */
/* min-width: 800px; */

}