
body{
    background-color: #222;
    /* display:flex;
    justify-content:center;
    align-items:center;
    height:100vh */

}

.anim{
    background-color: white;
    width:200px;
    height:200px;
    margin: 100px auto;
    display: flex;
    justify-content: center;
    align-items: center;
 
  
}

.rect{
    background-color: #222;
    height: 60px;
    width:5px;
    display: inline-block;
    margin:2px;
    animation : grow 1.5s infinite ease-in-out;
  
}

@keyframes grow {
    0%{
        transform: scaleY(0.1);
    }
    30%{
        transform: scaleY(1);
    }
    50%{
        transform: scaleY(0.1);
    }
    100%{
        transform: scaleY(0.1);
    }

  
}

.r2{
    animation-delay: 0.2s;
}
.r3{
    animation-delay: 0.3s;
}
.r4{
    animation-delay: 0.4s;
}
.r5{
    animation-delay: 0.5s;
}
